Data Pipelines/Utils/Source2Bronze.API Bearer Token Auth/Source2Bronze.API Bearer Token Auth.json
{
   "$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
   "contentVersion":"1.0.0.0",
   "parameters":{
      "https://api.eu.com":{
         "type":"string"
      },
      "web-dev":{
         "type":"string"
      },
      "Lakehouse":{
         "type":"string"
      }
   },
   "variables":{
      
   },
   "resources":[
      {
         "name":"Source2Bronze.API Bearer Token Auth",
         "type":"pipelines",
         "apiVersion":"2018-06-01",
         "properties":{
            "activities":[
               {
                  "name":"Get Bearer Token",
                  "type":"WebActivity",
                  "dependsOn":[
                     
                  ],
                  "policy":{
                     "timeout":"0.12:00:00",
                     "retry":0,
                     "retryIntervalInSeconds":30,
                     "secureOutput":false,
                     "secureInput":false
                  },
                  "typeProperties":{
                     "method":"GET",
                     "headers":{
                        "access_token":{
                           "value":"@pipeline().parameters.AccessToken",
                           "type":"Expression"
                        }
                     }
                  },
                  "externalReferences":{
                     "connection":"[parameters('https://web.eu.com')]"
                  }
               },
               {
                  "name":"Copy",
                  "type":"Copy",
                  "dependsOn":[
                     {
                        "activity":"Get Bearer Token",
                        "dependencyConditions":[
                           "Succeeded"
                        ]
                     }
                  ],
                  "policy":{
                     "timeout":"0.12:00:00",
                     "retry":0,
                     "retryIntervalInSeconds":30,
                     "secureOutput":false,
                     "secureInput":false
                  },
                  "typeProperties":{
                     "source":{
                        "type":"RestSource",
                        "httpRequestTimeout":"00:01:40",
                        "requestInterval":"00.00:00:00.010",
                        "requestMethod":"GET",
                        "additionalHeaders":{
                           "Authorization":{
                              "value":"Bearer @(activity('Get Bearer Token').output.data.token)",
                              "type":"Expression"
                           }
                        },
                        "datasetSettings":{
                           "annotations":[
                              
                           ],
                           "type":"RestResource",
                           "typeProperties":{
                              
                           },
                           "schema":[
                              
                           ],
                           "externalReferences":{
                              "connection":"[parameters('web-dev')]"
                           }
                        }
                     },
                     "sink":{
                        "type":"JsonSink",
                        "storeSettings":{
                           "type":"LakehouseWriteSettings"
                        },
                        "formatSettings":{
                           "type":"JsonWriteSettings"
                        },
                        "datasetSettings":{
                           "annotations":[
                              
                           ],
                           "linkedService":{
                              "name":"Lakehouse",
                              "properties":{
                                 "annotations":[
                                    
                                 ],
                                 "type":"Lakehouse",
                                 "typeProperties":{
                                    "workspaceId":"00000-6d36-4f5f-8b8a-dfafa8532c3a",
                                    "artifactId":"[parameters('Lakehouse')]",
                                    "rootFolder":"Files",
                                    "servicePrincipalCredential":{
                                       "type":"SecureString",
                                       "value":"**********"
                                    }
                                 }
                              }
                           },
                           "type":"Json",
                           "typeProperties":{
                              "location":{
                                 "type":"LakehouseLocation",
                                 "fileName":{
                                    "value":"@pipeline().parameters.targetFileName",
                                    "type":"Expression"
                                 },
                                 "folderPath":{
                                    "value":"@pipeline().parameters.targetPath",
                                    "type":"Expression"
                                 }
                              }
                           },
                           "schema":{
                              
                           }
                        }
                     },
                     "enableStaging":false
                  }
               }
            ],
            "parameters":{
               "AccessToken":{
                  "type":"securestring",
                  "defaultValue":{
                     "type":"SecureString",
                     "value":"*****"
                  }
               },
               "targetPath":{
                  "type":"string",
                  "defaultValue":"bronze"
               },
               "targetFileName":{
                  "type":"string",
                  "defaultValue":"export.json"
               }
            },
            "lastModifiedByObjectId":"a4b9508e-96d8-4512-9afc-d4c60ced334c",
            "lastPublishTime":"2025-08-20T14:39:11Z"
         },
         "dependsOn":[
            
         ]
      }
   ]
}